@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Padauk:wght@400;700&display=swap');
*:not(i){
    font-family: 'Oswald', sans-serif !important;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.text-blue{
    color: blue !important;
}
nav{
    background: #0d0d0d !important;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

nav ul li{
    line-height: 37px;
    margin: 1px;
    text-align: center;
}
.carousel_photo{
    display: none;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 9px 7px 5px 14px;
    border-radius: 3px;
    text-decoration: none;
    transform: skewX(-15deg);
    /*font-family: "Cinzel", serif;*/
    text-transform: uppercase;
    /*padding: 17px 15px 13px 30px;*/
    display: inline-block;
    background: #a81d1d;
    -webkit-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #a1a1a1;

}
.dropdown-menu{
    background: transparent;
}
.dropdown-item{
    background: white !important;
    margin: 0 0 3px  0;
}
.dropdown-item:hover {
    background: #a81d1d !important;
    color: white !important;
}
.menulist li a.active,.menulist li a:hover {
    background: #ffffff;
    transition: .5s;
    text-decoration: none;
    color: #420909;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*@media (max-width: 952px){*/
/*    label.logo{*/
/*        font-size: 30px;*/
/*        padding-left: 50px;*/
/*    }*/
/*    nav ul li a{*/
/*        font-size: 16px;*/
/*    }*/
/*}*/
/*@media (max-width: 950px){*/
/*    .checkbtn{*/
/*        display: block;*/
/*    }*/
/*    .dropdown-menu{*/
/*        left: 5px !important;*/
/*    }*/
/*    .menulist{*/
/*        height: 100vh;*/
/*    }*/
/*    nav ul li a{*/
/*        color: white;*/
/*        transform: skewX(0deg);*/
/*        font-size: 17px;*/
/*        padding: 9px 7px 5px 14px;*/
/*        width: 100%;*/
/*        margin: 0 2px;*/
/*        border-radius: 3px;*/
/*        text-decoration: none;*/
/*        !*font-family: "Cinzel", serif;*!*/
/*        text-transform: uppercase;*/
/*        !*padding: 17px 15px 13px 30px;*!*/
/*        display: inline-block;*/
/*        background: #a81d1d;*/
/*    }*/
/*    nav ul{*/
/*        position: fixed;*/
/*        width: 100%;*/
/*        !*height: 100vh;*!*/
/*        background: #0d0d0d;*/
/*        top: 80px;*/
/*        left: -130%;*/
/*        text-align: center;*/
/*        transition: all .5s;*/
/*    }*/
/*    .gsmm{*/
/*        display: none;*/
/*    }*/
/*    .logo{*/
/*        margin-left: 15px;*/
/*    }*/
/*    nav ul li{*/
/*        display: block;*/
/*        margin: 50px 0;*/
/*        line-height: 30px;*/
/*    }*/
/*    .dropdown-item{*/
/*        display: block;*/
/*        width: 100%;*/
/*        color: darkred;*/
/*        background: white;*/
/*        font-size: 15px;*/
/*        overflow-y: scroll;*/
/*    }*/
/*    .dropdown-menu{*/
/*        width: 100%;*/
/*        height: 50vh;*/
/*        background: white;*/
/*        overflow-y: scroll;*/
/*    }*/
/*    nav ul li a{*/
/*        font-size: 20px;*/
/*    }*/
/*    a:hover,a.active{*/
/*        background: none;*/
/*        color: darkred;*/
/*    }*/
/*    #check:checked ~ ul{*/
/*        left: 0;*/
/*    }*/
/*    .menulist li{*/
/*        margin-top: 0px;*/
/*    }*/
/*    .menulist li a{*/
/*        padding-bottom: 10px;*/
/*    }*/
/*}*/
section{
    /*background: url(bg1.jpg) no-repeat;*/
    background-size: cover;
    height: calc(100vh - 80px);
}
.content_body{
    background-image: url("https://modgamesmm.com/dashboard/images/main_bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    /*filter: blur(2px);*/
    background-attachment: fixed;
}

.game_card>.card-body>.card-title , .game_card .card-body .card-text{
    font-size: 14px;
    text-align: center;
}

.dropdown-menu a:hover{
    background: black;
    color: white;
}

.rat:hover{
    color: #ffe100;
}
.fa-star{
    color: #ffe100 !important;
}
.rating {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}
.page-item{
    margin-bottom: 7px !important;
}
.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #cdcbcb;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #ffe100;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #ffe100;
}
.modal-content{
    background: #f7efe9 !important;
}
.game_card{
    cursor: pointer;
}
.game_card{
    box-shadow: 0 15px 15px 0 rgba(0,0,0,.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.game_card:hover ,.pa_card:hover{
    box-shadow: 0 14px 28px rgba(0, 31, 255, 0.25), 0 10px 10px rgba(232, 0, 0, 0.22);
    background-color: rgba(255, 175, 175, 0.91);
    color: white !important;
}
/* .star:hover .fa-star{
    color: white !important;
} */
/*.game_card{*/
/*    background: white !important;*/
/*}*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("loading.gif") center no-repeat #0d0d0d;
    /*background-size: cover;*/
}
.pagination{
    flex-wrap: wrap !important;
    margin-top: 2px;
}
