/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
gsmm_do.sql
mgmm_18_plus.sql
popular.sql
server.php
/pmgmmadmin
/tests
